.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color:#FF6060;
    text-transform: uppercase;
}

.nav a:hover, .nav .active {
    text-decoration: underline;
}

@media screen and (min-width: 800px) {
    .header {
        padding: 20px 50px;
    }

    .nav {
        gap: 40px;
    }

    .nav a {
        font-size: 24px;
        text-transform: none;
    }

    .header img {
        width: 200px;
        height: 68px;
    }
}
