.footer {
    width: 100%;
    margin-top: auto;
    background-color: #000000;
    color: #FFFFFF;
    height: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 20;
}

.footer p {
    font-size: 12px;
}

@media screen and (min-width: 550px) {
    .footer {
        justify-content: flex-end;
        gap: 20px;
    }
    
    .footer p {
        font-size: 24px;
    }
}
