.error-container {
    min-height: 600px;
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-direction: column;
    color: #FF6060;
    text-align: center;
}

.error-container div h1 {
    margin: 0;
    font-weight: 700;
    font-size: 96px;
}

.error-container div p {
    margin: 0;
    padding: 0 50px;
    font-size: 18px;
}

.error-container a {
    text-decoration: none;
    text-decoration: underline;
    color: #FF6060;
    font-size: 14px;
}

@media screen and (min-width: 800px) {
    .error-container div h1 {
        font-size: 288px;
    }

    .error-container div p {
        font-size: 36px;
    }

    .error-container a {
        font-size: 18px;
    }
}
